.Leftbar {
    width: 60px;
    height: 100%;
    color: #fff;
    background: #2e2d2b;
    border: 1px solid #1a2224;
    font-size: 12px;
}
.menu {
    list-style-type: none;
    height: 100%;
    padding: 0;
    margin: 20px auto;
    position: relative;
}
.menu li {
    padding: 10px;
    text-align: center;
}
.menu li i {
    font-size: 28px;
}
.menu .user {
    margin-top: 50px;
    position: absolute;
    bottom: 30px;
}
.menu .user .userImg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}